/*
 * Project: Generic reusable stylesheets for Adnet websites
 * Author: Rudy Affandi
 * Created: 03/19/2011
 * Revision: 11/20/2011
 * File name: masterfunctions.css
 */

/* Maps & Photos, settings for custom Photo Gallery */

/* Map gallery - grid-based */
ul.image_grid_format h3 {font-size: 11px; margin: 0; padding: 0;}
ul.image_grid_format h4 {font-size: 11px; font-weight: normal; margin: 0; padding: 0;}
ul.image_grid_format {list-style: none; margin: 0 0 0 0; padding: 0; overflow: hidden;}
ul.image_grid_format li {display: block; position: relative; z-index: 1; float: left !important; margin: 0 20px 20px 0; line-height: normal;}
html>body>ul.image_grid_format li {*display: inline-block;}
ul.image_grid_format li img {display: block; width: 100%; border: 1px solid #ccc;}
ul.image_grid_format li a {display: block;}
ul.image_grid_format li:hover {}
ul.image_grid_format li a:hover {}
ul.image_grid_format li a span {clear: both; display: block; font-weight: normal;}
ul.image_grid_format li a.pdf {clear: both; display: block; background: url('http://repository.lesaff.com/masterfunctions/current/images/pdf_icon.gif') no-repeat 2px 0px; padding: 2px 0 2px 20px}
ul.image_grid_format li a.pdf:hover {background-position: 2px -134px;}
ul.image_grid_format li a.zoom {clear: both; display: block; background: url('http://repository.lesaff.com/masterfunctions/current/images/zoom_icon.png') no-repeat 2px 0px; padding: 2px 0 2px 20px}

/* Generic image placeholder to wrap left or right */
.img_thumb {display: block; font-size: 12px; padding: 5px; background: #eee; border: 1px solid #ccc;}
.img_thumb a {display: block;}
.img_thumb.left {float: left; margin: 0 10px 10px 0;}
.img_thumb.right {float: right; margin: 0 0 10px 10px;}
.img_thumb.border {border: 1px solid #ccc;}
.img_thumb a span {float: left; display: block; width: 90%;}

/* Add zoom icon to thumbnail */
div.zoom {position: absolute; display: block; z-index: 2; right: 3%; top: 3%; background: url('http://repository.lesaff.com/masterfunctions/current/images/zoom_icon.png') no-repeat 0 0; width: 16px; height: 16px; behavior: url('/cc/js/pngbehavior.htc');}